[Unit]
Description={{ description }} {{ 'for %I' if templated else "" }}
After=network.target

[Service]
Type=oneshot
ExecStart={{ exec_start }} {{ '%i' if templated else "" }}
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
